[Unit]
Description=Remove old container data (images, volumes, networks) that are older than a week

[Service]
User=otp
ExecStart=podman system prune -a -f --filter until={{ podman_prune_max_age }}

[Install]
WantedBy=multi-user.target
