[Unit]
Description=Run GraphiQL

# Restart once within 20 minutes so that an intermittent network failures are gracefully handled
StartLimitIntervalSec=1200
StartLimitBurst=100

[Service]
User=otp
ExecStartPre=-podman stop --ignore %n
ExecStartPre=-podman rm %n

ExecStart=podman run \
    --log-driver=journald \
    --name %n \
    --rm -d \
    -p 4000:4000 \
    -e ENDPOINT=https://{{ domain_name }}/otp/routers/default/index/graphql \
    docker.io/lehrenfried/graphql-playground:latest

ExecStop=podman stop --ignore %n
ExecStop=-podman rm %n

Type=forking
Restart=on-failure

[Install]
WantedBy=multi-user.target
